# Игнорирование каталога vscode
.vscode/

# Игнорирование каталога node_modules
node_modules/

# Игнорирование файла ключей
config/keyring.yml

# Игнорирование устаревших файлов
oldfiles/

# Игнорирование статических файлов
static/

# Игнорирование логов
logs/

# Игнорирование локальных настроек eslint
.eslintrc.json

# Игнорирование исполняемых файлов
*.sh
*.bat