# Игнорирование каталога vscode
.vscode/

# Игнорирование каталога node_modules
node_modules/

# Игнорирование устаревших файлов
oldfiles/

# Игнорирование статических файлов
static/

# Игнорирование логов
logs/

# Игнорирование локальных настроек eslint
.eslintrc.json

# Игнорирование всех файлов с расширением .sh
*.sh